.layout {
  display: grid;
  position: relative;

  grid-template-columns: 30% 70%;

  &--hidden-history {
    grid-template-columns: 100%;

    .layout__sidebar {
      display: none;
    }
  }

  &__sidebar {
    padding-left: 2em;

    // @media (max-width: 1024px) {
    //   padding-left: 1em;
    // }
  }

  &__sidebar-toggle-btn {
    background-color: rgb(182, 180, 180);
    color: white;
    border: none;
    width: 2em;
    height: 100vh;
    // margin-right: 30px;
    position: absolute;
    z-index: 105;
  }

  @media (max-width: 1024px) {
    grid-template-columns: 100%;
  }
}
