$grey: rgb(237, 236, 236);
$orange: #ff655b;

.history-block {
  display: flex;
  &__body {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  &__body-content {
    display: flex; // none
    // width: 30em;
    width: 100%;
    min-width: 250px;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    padding: 2em 2em;

    gap: 1em;
    max-width: 650px;
  }

  &__resource-input {
    display: flex;
    width: 100%;
    height: 5em;
    margin-bottom: 3em;
  }

  &__near-buttons-block {
    display: flex;
    flex-direction: row;
  }

  &__pair {
    display: flex;
    flex-direction: row;
  }

  &__pair-btn {
    width: 50%;
    display: flex;
    height: 3em;
    background-color: white;
    color: $orange;
    border: 2px solid $orange;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;

    &--active {
      background: linear-gradient(to right, #fd297b, #ff655b);
      color: white;
    }

    &:first-child {
      border-radius: 50px 0 0 50px;
    }

    &:last-child {
      border-radius: 0 50px 50px 0;
    }
  }

  // &__curr-button {
  //   width: 50%;
  //   display: flex;
  //   height: 3em;
  //   background-color: white;
  //   color: $orange;
  //   border-radius: 50px 0 0 50px;
  //   border: 2px solid $orange;
  //   justify-content: center;
  //   align-items: center;
  //   font-size: 20px;
  //   font-weight: 500;

  //   &--active {
  //     background: linear-gradient(to right, #fd297b, #ff655b);
  //     color: white;
  //   }
  // }

  // &__curr-button.active {
  //   background: linear-gradient(to right, #fd297b, #ff655b);
  //   color: white;
  // }

  // &__all-button.active {
  //   background: linear-gradient(to right, #ff655b, #fd297b);
  //   color: white;
  // }

  // &__all-button {
  //   width: 50%;
  //   display: flex;
  //   height: 3em;
  //   background-color: white;
  //   color: $orange;
  //   border-radius: 0 50px 50px 0;
  //   border: 2px solid $orange;
  //   justify-content: center;
  //   align-items: center;
  //   font-size: 20px;

  //   &--active {
  //     background: linear-gradient(to right, #ff655b, #fd297b);
  //     color: white;
  //   }
  // }

  &__source-button {
    display: flex;
    min-height: 3em;
    color: white;
    border-radius: 50px;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #ff655b;
    font-weight: 500;

    transition: background-color 0.3s;
  }

  &__download-button {
    display: flex;
    width: 100%;
    min-height: 3em;
    background-color: #ff655b;
    color: white;
    height: 3em;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    transition: background-color 0.3s;
  }

  &__download-button:hover,
  &__source-button:hover {
    background-color: #fd297b;
  }

  &.active {
    display: flex;
  }
}

@media (max-width: 1024px) {
  .history-block {
    display: flex;
    justify-content: center;
    position: absolute;
    // left: 2em;
    width: 100vw;
    background-color: #fff;
    z-index: 100;

    &__content {
      width: 100vw;
      height: 100vh;
      // max-width: 650px;
    }

    &__extend-btn {
      // position: absolute;
      // left: 0;
      // height: 100vh;
    }
  }
}
